[2018-06-16 07:03] diomed opened #1 "example such as this"
hello

could you maybe do example such as this:
https://codepen.io/80sb/pen/qqgVea

which when slides out shows names,
and then it slides in to just icons

[2018-06-29 05:50] easherma opened #2 "style examples, controlling height?"
What is the best way to override styles for the panel, say if we wanted to set height or background color?

[2018-07-02 22:43] KingLagalot commented on #2
Also wondering this, can't get the width to change, its set to 900px and I can't seem to override it.

[2018-07-05 20:45] officert commented on #1
@diomed sorry this package really isn't meant for creating collapsable menus like this, but instead is meant for modal like slide out that can stack on top of each other.

[2018-07-05 20:45] #1 closed

[2018-07-05 20:47] officert commented on #2
@KingLagalot found a bug with that. Setting the width using `900` worked, but using `900px` didn't. Fixed in V0.5.0 : https://github.com/officert/vue-slideout-panel/releases/tag/0.5.0

[2018-07-05 20:56] officert commented on #2
@easherma good call, didn't support that before, but just added support for it in V0.6.0:
https://github.com/officert/vue-slideout-panel/releases/tag/0.6.0

[2018-07-05 20:56] #2 closed

[2018-07-11 14:02] razbakov opened #3 "Adapt for mobile"
Panel is not usable on mobile phones

[2018-07-11 14:38] Kohlibrie opened #4 "Nuxt"
How to use your plugin with nuxt?

I added it to my plugins and to to nuxt.config.js like

[code]

[2018-07-16 21:20] officert commented on #3
@razbakov good call, I added support in V0.7.0 https://github.com/officert/vue-slideout-panel/releases/tag/0.7.0

Basically I'm dynamically creating a stylesheet for each panels with a media query of
[code]

so that once your browser sizes gets to the width of the panel it'll switch to 100% width.

[2018-07-16 21:20] #3 closed

[2018-07-17 08:33] razbakov opened #5 "Close on mobile"
It is not possible to close the panel on mobile device.
I would suggest to add slide event to hide it

[2018-07-17 12:01] officert commented on #5
@razbakov I see what you mean, there's no close button for panels and the only way to close them is hitting the ESC key or clicking on the backdrop, which isn't visible on mobile. There are a couple options I'm thinking about:

1) adding a close button, like an 'X', inside the panel along the top, which could close it - downside of this option is that sometimes you might not want this 'X' button s

[2018-07-17 12:24] officert commented on #4
I'm not very familiar with Nuxt.js, but I found this page https://nuxtjs.org/guide/plugins/ describing how to use Vue.js plugins with it.

I believe you would need to create a new file under your `plugins` directory, like this (plugins/vue2-slideout-panel.js):

[code]

and then your nuxt.config.js file should work.

Let me know how that goes.

[2018-07-18 14:21] Morgul opened #6 "Allow panel creation without backdrop"
It would be nice if there was an option to disable the backdrop when creating a panel. I have a use case where I want to have tool options in the panel, but let them still interact with the main content of the page.

[2018-07-18 16:42] officert commented on #6
thanks @Morgul good suggestion! I've added support by passing in `hideBg: true` in the panel options. Released new V0.10.0. You can find all the options at the bottom of the docs site: https://officert.github.io/vue-slideout-panel/#/home
https://github.com/officert/vue-slideout-panel/releases/tag/0.10.0

[2018-07-18 16:42] #6 closed

[2018-08-03 07:33] girardinsamuel commented on #4
Hello,

Did you find a solution finally ? Is the plugin-way proposed by @officert is working ?
I tried on my side but I get the following error
`NuxtServerError: render function or template not defined in component: anonymous`

[2018-08-03 07:43] ShawnRong opened #7 "Slide out two component per page?"
Hi, I integrated vue-slideout-panel in an table.When I click the button, it will pop up two
component.If I add more rows in my table, It will slide out more components.
Here's the gif ![image](https://i.loli.net/2018/08/03/5b640722ee3bf.gif
)
And here's my view button component code:

[code]

[2018-08-03 08:06] #7 closed

[2018-08-09 13:05] farpetrad opened #8 "Object doesn't support property or method 'forEach'"
Trying to use in IE or Edge and get the same exact error.  I haven't looked through the repo just yet but this should be a simple fix.

[2018-08-09 22:23] Davidriquelme opened #10 "where do i find the code for the working example ?"
where do i find the code for the working example ?

[2018-08-10 19:18] officert commented on #10
hey @Davidriquelme, in the example, https://officert.github.io/vue-slideout-panel/#/home, you can find snippets for using Vue Slideout Panel. Let me know if that's not enough though, happy to either update the docs or provide more info. 👍

[2018-08-10 22:14] Davidriquelme commented on #10
thanks!, it will be great if you can provide the working example from the demo, if you could.

[2018-08-11 18:43] officert commented on #8
fixed in V0.11.0

[2018-08-11 18:43] #8 closed

[2018-08-12 11:09] andrewhl opened #11 "Console.log statements onBgClicked and onEscapeKeypress"
Love the component!

Can you please remove the console.log statements hard coded into these two event handlers?

[2018-08-13 12:56] officert commented on #11
Good call 👍 updated in V0.11.1 : https://github.com/officert/vue-slideout-panel/releases/tag/0.11.1

[2018-08-13 12:56] #11 closed

[2018-08-13 13:28] Davidriquelme opened #12 "main panel height"
@officert is it possible to set a custom height to this div ? maybe adding this option via prop ?

![image](https://user-images.githubusercontent.com/12628676/44034590-d81c6ea8-9ee3-11e8-9dc6-08adaf244bf3.png)

[2018-08-13 19:25] BySly opened #13 "Add support for <slots>"
Hi.
I think that it's too uncomfortable to make different сomponents for parent `<slideout-panel>` component every time. Maybe we have some way to use `<slot>` tag to make component more reusable?

[2018-08-17 21:00] davidAlittle opened #14 "Use with Single File Components"
Having issues showing SFC's in panel.

[code]

In LineSpeedPane.vue I've made sure to set the `name: 'linespeedpane'` property, if that matters (the fault thrown seems to suggest it might): `[Vue warn]: Unknown custom element: <linespeedpane> - did you register the component correctly? For recursive components, make sure to provide the "name" option.`

Do I have to globally register the component

[2018-08-19 12:35] andresinostroza opened #15 "It is possible to keep alive the content of the vueSlideoutPanelService?"
I am trying to figure how to keep alive the content here:

![image](https://user-images.githubusercontent.com/18563082/44308837-17242480-a400-11e8-89fc-e0be3aa1caea.png)

It is possible? or the component need to be created each time?

[2018-08-20 22:16] davidAlittle opened #16 "cssClass not working"
No matter how or where I put the class, cssClass attributes never get applied. Are you sure this works?

[2018-08-21 11:59] officert commented on #16
Can you share your code? It's working on the demo page:
[code]

[2018-08-21 12:01] officert commented on #14
I believe it needs to be a globally registered component. It's just using Vue's `<component>` element : https://vuejs.org/v2/guide/components.html#Dynamic-Components

[2018-08-21 12:02] officert commented on #12
We could add that, but I'm curious what you're use case is?

[2018-08-21 12:04] officert commented on #10
All of the code for the demo can be found here : https://github.com/officert/vue-slideout-panel/tree/master/docs-src/components

The `Home` component is the Home page of the demo site : https://github.com/officert/vue-slideout-panel/blob/master/docs-src/components/Home/index.vue

[2018-08-21 12:04] #10 closed

[2018-08-21 15:01] zaiste opened #17 "Proper way to catch slideout's close event?"
What would be the proper way to handle the close event ? It looks like each layer has its own identifier attached to `hideSlideOutPanel`, but I don't see how to access it.

[2018-08-21 16:36] officert commented on #17
`slideoutPanelService.show()` will return a `Promise`, which will be resolved when the panel is closed. So you can handle the close event like this:

[code]

Let me know if that's what you meant. Currently there is no way to programmatically close a panel from the code that calls `slideoutPanelService.show()`.

[2018-08-22 04:53] wontwon opened #18 "Prevent Close on Background Click"
Hello, I was wondering if you were thinking of adding a prop to prevent panel from closing when clicking the background.

[2018-08-22 12:03] andresinostroza commented on #15
Please, I am trying to keep alive the component because I have some filters on it, so I don't want to lose the data there, I can use vuex I know, or even I can send the filters again, but is not the idea, if you need some help, I can help you as well

[2018-08-22 12:04] zaiste commented on #17
@officert Thanks for the fast response. Yes, that's it. I wasn't sure about this approach. I thought I missed some events etc. It's clear now!

[2018-08-22 12:04] #17 closed

[2018-08-22 13:03] officert commented on #18
Added in V0.13.0 : https://github.com/officert/vue-slideout-panel/releases/tag/0.13.0

[2018-08-22 13:03] #18 closed

[2018-08-22 13:03] officert commented on #16
Closing for now, re-open with your code sample

[2018-08-22 16:35] davidAlittle commented on #14
Globally registering does work.

[2018-08-23 04:00] wontwon commented on #18
Hey @officert, I updated to version 0.13.0 and passed disableBgClick, but clicking on the bg still closed the panel.

Please see the gif below:
![2018-08-22 23 56 13](https://user-images.githubusercontent.com/3239936/44504008-4f796c00-a667-11e8-81c3-9416cedb8dbb.gif)

` vueSlideoutPanelService.show({
          width: 600,
          cssClass: "event-detail-container",
          component: 'event-ca

[2018-08-23 04:01] wontwon commented on #18
Disregard last comment. Thanks for the fix!

[2018-08-24 22:33] Dwa1n commented on #15
@officert - Appreciate the work done so far on this... Great UI component! These three additions to this package would make it perfect for me:

1. `<keep-alive>`
2. `<slot>`
3. `.sync` on props

[2018-09-12 15:06] Dwa1n commented on #15
@officert A colleague of mine pointed me to this package [vue-slideout-panel](https://github.com/lyollix/vue-slideout-panel). Not sure if it could be useful inspiration for this package.

[2018-09-20 13:06] officert commented on #15
@Dwa1n and @andresinostroza sorry for the delay, but I just release V1.0.0 which now supports `keep-alive`:

https://github.com/officert/vue-slideout-panel/releases/tag/1.0.0

[2018-09-20 13:14] officert commented on #15
^ be sure to check out the docs for this release as it has breaking changes.
With this release you can also now programmatically show and hide panels from your outer code.

[2018-09-20 13:14] officert opened #19 "Add support for .sync on props"
Add support for https://vuejs.org/v2/guide/components-custom-events.html#sync-Modifier

this would likely just be an option you can pass to `this.$showPanel()`:

[code]

which would add the `sync` modifier to all of your passed in `props`

Let me know what you guys think.

[2018-09-20 13:16] officert commented on #15
Closing this issue.

For `<slots>` support, follow on this ticket : https://github.com/officert/vue-slideout-panel/issues/13

For `.sync` support, follow on this ticket : https://github.com/officert/vue-slideout-panel/issues/19

[2018-09-20 13:16] #15 closed

[2018-09-20 13:16] officert commented on #12
Closing, not enough info

[2018-09-20 13:16] #12 closed

[2018-09-20 18:01] BySly commented on #13
@officert yep, that's good idea with title and body.

[2018-09-22 19:33] bmadigan commented on #13
What about using renderless components? Then the user can manipulate the UI as they wish

[2018-09-26 08:39] ajerez opened #20 "Pass component object instead of component name"
In older versions of the library you can pass the component object instead of the component "name", but now we need to register our components globally before we can use the panel passing our component "name" to it.

There is any chance the API can work with both options so we can not register our components inside the panel globally?

Thanks for all

[2018-09-27 20:15] officert commented on #20
thanks @ajerez fixed in V1.0.3 : https://github.com/officert/vue-slideout-panel/releases/tag/1.0.3

[2018-09-27 20:15] #20 closed

[2018-10-18 12:43] shazha opened #21 "hideBg option not working"
@officert , just upgraded from 0.13 to the latest, found out `hideBg` option not working any more. seems it's been removed but still in docs?

[2018-10-18 17:06] saranshinvy opened #22 "Vuetify Autocomplete does not close"
When using vuetify component inside the panel you cannot close the list by clicking outside, also my website is scrollable and when i use the slideout panel the main site scroll is not hidden , is this bug?

[2018-10-18 19:57] officert commented on #22
@saranshinvy could you fork this Code Pen (https://codepen.io/tofficer/pen/JaxNdw) and try and recreate your issue? Hard to help without some more info on what's going on.

[2018-10-22 16:59] officert commented on #21
Fixed in 1.0.5 (https://github.com/officert/vue-slideout-panel/releases/tag/1.0.5)

[2018-10-22 16:59] #21 closed

[2018-10-23 19:56] yanfali opened #23 "License?"
Hi I was looking for a license file, either in the comments or docs, but can't seem to find one. Would you be open to adding one? Thanks

[2018-10-24 23:42] yanfali opened #24 "Issues with vue-cli 3"
Hello, I was unable to get your instructions working with the very latest version of vue-cli. For whatever reason with webpack the plugin would not register itself correctly. I ended up hacking around the instructions

[code]

Not really sure what I'm doing wrong.

I also had to invoke it in a similar manner

[code]

As it wasn't able to install itself correctly. Awesome plugin though once I got i

[2018-10-26 09:20] ChadTaljaardt commented on #5
Both options should be implemented in my opinion.

[2018-10-26 09:30] ChadTaljaardt opened #25 "Error with removing class"
Hello,

I'm having a issue with this plugin on my app which integrates this plugin alongside modals. When i use the slideout, i cannot use the modals anymore.

I see that we add a specific style of class depending on if there is other classes on the body.

https://github.com/officert/vue-slideout-panel/blob/937df7d2afa8306025f17129bb0d936ada421d06/src/components/SlideoutPanel/index.vue#L158

The i

[2018-10-26 11:53] Sam-khorsand opened #26 "VueSlideoutPanel.show is not a function"
Hello,
I keep getting this error:

Here's my code:

main.js
`import Vue from 'vue'
import App from './App'
import router from './router'
import { VueSlideoutPanel } from 'vue2-slideout-panel';
import slidePanel from './components/SlidePanel.vue';

Vue.component('slideout-panel', VueSlideoutPanel);
Vue.component('slidePanel', slidePanel);

new Vue({
  el: '#app',
  router,
  components: { App },

[2018-10-29 19:24] officert commented on #23
https://github.com/officert/vue-slideout-panel/blob/master/LICENSE.MD

thanks @yanfali 👍

[2018-10-29 19:24] #23 closed

[2018-11-06 00:41] officert commented on #25
@ChadTaljaardt can you try v1.0.6?

https://github.com/officert/vue-slideout-panel/releases/tag/1.0.6

[2018-11-06 00:47] officert commented on #24
@yanfali can you try v.1.0.8?

Here's the change I made: https://github.com/officert/vue-slideout-panel/commit/48ea60d7031613f394159eff69f6bd194821a9f8#diff-1fdf421c05c1140f6d71444ea2b27638R19

I wasn't installing up the component properly.

https://github.com/officert/vue-slideout-panel/releases/tag/1.0.8

[2018-11-06 00:51] officert commented on #22
Closing this. Please re-open if you can provide some more info.

[2018-11-06 00:51] #22 closed

[2018-11-06 01:13] yanfali commented on #24
I'll give it a shot. Thanks

[2018-11-06 01:38] yanfali commented on #24
looks like the code load cache is still refreshing, so it's only showing 1.07 right now in yarn. I'll give it another try in the morning.

[2018-11-06 21:07] officert commented on #24
@yanfali sorry about that, looks it didn't publish. Try now, Yarn is showing the right version now: https://yarnpkg.com/en/package/vue2-slideout-panel

[2018-11-06 21:09] yanfali commented on #24
@officert can you republish to npm please? It's still showing as 1.0.7 only. Thank you.

[2018-11-06 21:10] yanfali commented on #24
got it, thanks

[2018-11-06 21:29] yanfali commented on #24
@officert having trouble with the examples, it's crashing when I invoke

const panelInstance = this.$showPanel.show({
  component : 'your-component-name',
  props: {
    //any data you want passed to your component
  }
});

this.$showPanel is not available from my component.

[code]

[2018-11-16 11:49] ChadTaljaardt commented on #25
@officert Hello,

I am trying to use the release that you tagged, but now im getting the same issue as listed here https://github.com/officert/vue-slideout-panel/issues/24#issuecomment-436415385

I am unable to test the fix as a result until that other issue is resolved.

[2018-11-16 11:51] ChadTaljaardt commented on #24
@yanfali Did you find a solution this your latest issue? I am getting it now as well.

[2018-11-19 21:17] keslerm opened #27 "Error in console on dev server"
I am receiving the following errors while in dev console

[code]

[2018-11-20 11:09] ChadTaljaardt commented on #27
I am getting this issue as well

[2018-11-20 13:54] keslerm commented on #27
If it helps here is the project/branch i'm using it on https://gitlab.com/aegiszero/laneway/tree/slideout/frontend

[2018-12-03 14:58] officert commented on #27
@keslerm can you point me to where in the project you're using it?

[2018-12-03 15:35] officert commented on #24
@yanfali sorry for the slow response. I figured out the issue. I wasn't properly install the component with Vue. I've fixed that issues and release V2.0.0.

https://github.com/officert/vue-slideout-panel/releases/tag/2.0.0

Take a look at the release notes as there are breaking changes. You'll just need to make sure your install the component properly, then you will be able to use `this.$showPanel

[2018-12-03 15:35] #24 closed

[2018-12-03 15:36] officert commented on #25
@ChadTaljaardt I fixed this issue in V2.0.0 as well as some issues with installing the component:

https://github.com/officert/vue-slideout-panel/releases/tag/2.0.0

[2018-12-03 15:36] #25 closed

[2018-12-03 15:37] officert commented on #27
@keslerm @ChadTaljaardt hey guys, sorry for the slow response here. I just updates and released V2.0.0.

This fixes a bunch of problems around getting the component installed. Hoping it will fix the issue you're seeing.

https://github.com/officert/vue-slideout-panel/releases/tag/2.0.0

Though I haven't been able to reproduce, so I'll leave this one open for now.

[2018-12-03 15:41] yanfali commented on #24
Thanks. I'll give it a shot and let you know.

On Mon, Dec 3, 2018, 07:35 Tim Officer <notifications@github.com> wrote:

[2018-12-05 19:13] yanfali commented on #24
@officert tested v2, works as documented. Thank you!

[2018-12-11 16:32] dmcdonald8 opened #28 "Setting hideBg: true forces disableBgClick: true ?"
I don't want the background to darken when I have the slideout panel open so I set `hideBg: true`
However, now when I click outside the panel it doesn't close itself as it used to when the background was visible. Looks like I'd need to add some kind of close button, myself.

Would be great to still have the same functionality of clicking outside the modal without the dark background. If the bg was

[2018-12-11 19:50] officert commented on #28
thanks for the suggestion @dmcdonald8, I just release v2.1.0 and made that change:

https://github.com/officert/vue-slideout-panel/releases/tag/2.1.0

[2018-12-11 19:50] #28 closed

[2018-12-14 21:01] officert commented on #27
closing for now. feel free to re-open or submit another issue if you're still having issues.

[2018-12-14 21:01] #27 closed

[2019-02-01 13:54] tuomas2 opened #30 "Add support for multiple panels (with keepAlive=true)"
Currently, if you have multiple panels that have keepAlive=True and if you close panel by emitting 'closePanel' from panel component code, it won't work properly for all the panels created. It looks it works only for one panel.

If keepAlive=false, everything works OK.

[2019-02-18 20:31] officert commented on #30
Maybe I'm misunderstanding you, but I think this is the intended behavior. Emitting `closePanel` from the component code is meant to close the top most panel only.

[2019-02-19 09:41] tuomas2 commented on #30
In our codebase it is not even possible to have 2 panels open at the same time.

Let's say you have 2 panels. Each of them have 'close' button, which emits closePanel and all of them are keepAlive=true.

1. Open second panel. -> ok
2. Close second panel. -> ok
3. Open first panel. -> ok
4. Close first panel -> nok, does not work.

(steps 1 & 2 are not necessary, only the second panel close button

[2019-02-20 14:29] officert commented on #30
Can you reproduce this in a CodePen or JsFiddle? Here's a CodePen you can fork:

https://codepen.io/officert/pen/rPbWNb

[2019-02-25 12:42] #30 closed

[2019-02-26 08:18] ryantzor commented on #16
I have an issue with CSS as well. My code is like the below example:

- somefile.vue
<script>
`vueSlideoutPanelService.show({
          component: 'slide-out-panel-2',
          cssClass: 'slide-out-panel-2-custom',
          width: '300px',
          props: {
            isEditMode: true,
            property: index
          }
        })`
</script>
<style>
.slide-out-panel-2-custom {
 // stuff h

[2019-02-27 01:14] jenil commented on #4
I can confirm it doesn't work with Nuxt.

[2019-02-27 02:49] officert commented on #16
@ryantzor which version of the library are you using? Might be an old version with a bug. Take a look at this example, it's working here:

https://vue2-slideout-panel.wrkflows.io/en/articles/1006

[2019-02-27 02:58] officert commented on #4
I don't know how Nuxt works, so if someone who does wants to submit a PR I'm happy to take a look. If I have some time to learn a bit more about Nuxt at some point I can take a crack, but can't guarantee anything soon.

[2019-02-27 03:32] ryantzor commented on #16
Hey man, thanks for the reply. I have to update my vue version to get this installed it looks like. I'll revisit this later and let you know if I still have issues. My current version in package .json says ^0.4.0

[2019-02-27 14:39] seanhudson opened #32 "Add support for opening on the bottom like Material Design "bottom sheets""
Would it be possible to add a bottom open option to have the panels behave like a "bottom sheet?"

Like https://material.io/develop/android/components/bottom-sheet-behavior/

[2019-02-27 20:57] officert commented on #32
Just added in `v2.2.2`:

https://github.com/officert/vue-slideout-panel/releases/tag/2.2.2

https://vue2-slideout-panel.wrkflows.io/en/articles/1003

Good suggestion! 👍

[2019-02-27 20:57] #32 closed

[2019-02-27 23:40] jenil commented on #4
Here is a sample app

https://glitch.com/edit/#!/gelatinous-wizard

[2019-02-27 23:57] jenil commented on #4
From some quick debugging it appears to be an issue concerning the Webpack packing of the bundle.

This doesn't work in a Nuxt project:
[code]
`VueSlideoutPanel` is `undefined`

[2019-02-28 03:43] seanhudson commented on #32
Tim, thank you!

On Wed, Feb 27, 2019 at 1:57 PM Tim Officer <notifications@github.com>
wrote:

[2019-03-02 19:40] thukuwanjiku opened #33 "TypeError: Cannot read property 'show' of undefined"
I'm getting this error and the panel does not slideout.

Here are shots of my code, please help

![vue](https://user-images.githubusercontent.com/17809323/53686716-c2148400-3d3b-11e9-919d-2b3485ddaa20.PNG)
![slideout](https://user-images.githubusercontent.com/17809323/53686686-4ca8b380-3d3b-11e9-8ae8-48f1ce8524be.PNG)

[2019-03-03 16:43] officert commented on #33
Upgrade to the latest version, and use `this.$showPanel()`.

https://vue2-slideout-panel.wrkflows.io/en/articles/1003

[2019-03-03 20:59] thukuwanjiku commented on #33
@officert your link helped. It's working all fine now. Thanks big time!

[2019-03-04 15:38] seanhudson opened #34 "Add support for auto height of panels"
It's been really nice since the open top/bottom open functionality was added. Now, the last thing to make that even better would be to have Vue autodetect the height of the content within the panel and automatically adjust the height. That way it would behave more like a native top/bottom sheet.

This might be a start? https://markus.oberlehner.net/blog/transition-to-height-auto-with-vue/

[2019-03-04 15:42] seanhudson opened #35 "Add support for toggle show/hide panel"
Right now if you click the trigger for a panel multiple times, it will open additional panels right on top of each other. This has already confused some users, and it's not really the expected behavior the panels should have.

One option may be to toggle the panel closed if the trigger clicked again after opening. The second would be to just ignore the trigger if clicked again.

[2019-03-04 15:45] ChadTaljaardt commented on #35
I have noticed this in my application as well.

[2019-03-19 14:43] officert commented on #35
Can someone post a CodePen or JSFiddle that shows how this is happening? I can't reproduce this.

[2019-04-15 09:43] francoism90 commented on #14
@officert I know this is an old ticket, but would it be an option to add support for local components? It did work fine in V1.

Thanks. :)

[2019-04-15 13:32] officert commented on #14
@francoism90 I think you can pass in the actually component object:

[code]

Let me know if not, I can look into it some more.

[2019-04-16 18:13] seanhudson commented on #35
This is a crude example, and it's just one of several similar type experiences on my app.

https://codepen.io/crowandraven/pen/VNyKoK

In reality, there could be any number of triggers (usually in the form of icons). A few could be hamburger for mobile navigation, plus icon to add new content, etc.

Ideally, clicking the trigger would toggle the panel. This is the behavior used on many UI that uti

[2019-04-16 20:01] seanhudson commented on #34
Here's a crude example.

https://codepen.io/crowandraven/pen/QPaQmY

For another realistic example, consider a panel that might show x number of items in the list if I'm a regular user, y number of items if I'm a content manager, and z number of items if I'm a site admin.

It would be nice if there was a way for the panel too auto-calculate the height based on the content.

[2019-04-18 00:31] seanhudson commented on #35
@officert did that example make sense to you? I can't quite figure out the best way to have a toggle to resolve this issue.

[2019-04-19 18:57] officert commented on #35
@seanhudson thank you for the example. You can achieve the desired effect by holding onto the `panelInstance` returned from `$showPanel()` and calling `hide()` on it to hide the panel.

[code]

https://codepen.io/officert/pen/OGZBxR

[2019-04-25 18:21] eduardoluizm opened #36 "Package size"
Hello,

I add this component on packages.json and after import and use, i generated my js files with webpack. I have a small project and my "vendors.js" jumped to 450k+- minified, instead 96kb (vuejs and some utils).

If I open dist folder on github the vue2-slideout-panel.js has more than 300kb..

There is a way to merge it on my webpack, to make it smaller?

[2019-05-07 17:39] danieldanielecki opened #37 "Units of width"
Support for %, vh would be very appreciated, i.e. there's a lot of dealing with media queries to make it properly displayed on mobile phones. Making `width: "50%"` doesn't work as expected.

[2019-05-11 09:09] riyaz51 commented on #33
![showPanel](https://user-images.githubusercontent.com/43986917/57567668-7eed2600-73fa-11e9-9087-aee074c03ebe.JPG)

[2019-05-11 09:11] riyaz51 commented on #33
Hello, I'm getting the  "this.$showPanel is not a function" error. How to resolve this?

[2019-05-14 00:56] officert commented on #33
@raj5152 which version are you using?

[2019-05-15 04:49] raj5152 opened #38 "<routerlink> is not supporting"
I used it in navigation bar for search feature but it is not supporting to routerlink and how can I made it to display on full screen? As of now I am using it in navigation bar so it is only sliding into the navigation panel, I want it to display on full screen,how to achieve it?
Thanks in advance.

[2019-05-17 20:12] officert commented on #37
Why doesn't `width: 50%` work as expected.

[2019-06-02 12:57] officert commented on #36
Vue by itself takes up 290KB:

![Uploading Screen Shot 2019-06-02 at 8.57.00 AM.png…]()

[2019-06-02 12:57] #36 closed

[2019-06-02 12:58] #13 closed

[2019-06-02 12:59] #33 closed

[2019-06-13 10:53] #38 closed

[2019-07-25 10:08] thukuwanjiku commented on #33
@officert using this method you referenced here, how can listen to the close event of the panel? I tried adding `.then()` to the `showPanel()` as you suggested [here](https://github.com/officert/vue-slideout-panel/issues/17#issuecomment-414739407)

![image](https://user-images.githubusercontent.com/17809323/61866091-3c0cfb80-aedd-11e9-9f52-e786085bf604.png)

but it gives the error,

![image](https

[2019-08-09 20:26] andre-novapc opened #39 "Prevent Close on press [Esc]"
Is there a way to prevent closing by pressing Esc?

I have a form that I would like the user to confirm before closing, as data may be lost.

Thanks in advanced.

[2019-08-13 14:26] spocock commented on #16
I had this issue when I accidentally placed the class definition within a scoped style section https://vue-loader.vuejs.org/guide/scoped-css.html. It worked fine when I moved the class to a global style.

[2019-08-13 14:53] spocock commented on #14
I can confirm it does work as described with the component object

[code]

[2019-09-04 14:45] rlneub opened #40 "I cannot get this to work from the vue app and my components"
I am 1 week into vue. I have a application that has 6 components which is working nicely, but the snippits on the website show everything from a plain JS and not using the vue app.

Can you please provide me an installation for

main.js
app.vue
parentcomponent.vue
your panel1.vue

I have spent over 5 hours without success

I get this.$emit not defined
<slideout-panel> not defined
and various other

[2019-09-26 23:33] Tropicalista opened #41 "How to pass component?"
In a freshly created vue cli project I got this error:

`Unknown custom element: <dashboard> - did you register the component correctly? For recursive components, make sure to provide the "name" option.`

I followed the example on the docs.

Can you put me on the right direction?

[2019-10-06 14:28] officert commented on #41
Sounds like you don't have your `dashboard` component registered with Vue. You'll need something like

[code]

[2019-10-06 14:36] officert commented on #40
It's hard to give specific instructions without seeing more about how your app is setup. You mentiond the "vue app framework", though I'm not sure what you mean because all the examples are in Vue. Can you paste in examples of your components?

Basically in your `main.js` you need to install the Slide-out panel component and register whatever component you want to have in the slide out panel:

[co

[2019-10-06 14:41] officert commented on #39
added in `v2.3.0`:

https://github.com/officert/vue-slideout-panel/releases/tag/2.3.0

[2019-10-06 14:41] #39 closed

[2019-10-06 14:41] #35 closed

[2019-10-07 12:58] #16 closed

[2019-10-09 21:05] Tropicalista commented on #41
Yes, I've solved this way. However this should be specified in documentation.

[2019-10-11 09:20] seanzi86 opened #47 "Errors in console when closing panel"
When no panel is displayed and you press the escape key, the following error is displayed in the console.

[code]
Looking at the source code, `onEscapeKeypress` , is always expecting currentPanel to return an object. If no panel is currently displayed then `this.panels[this.panels.length - 1]` will return null and this in turn causes the exception above.

I am happy to create a PR if you would lik

[2019-10-14 13:47] officert commented on #47
Fixed in `2.4.0` : https://github.com/officert/vue-slideout-panel/releases/tag/2.4.0

[2019-10-14 13:47] #47 closed

[2019-10-14 14:04] kruteev commented on #25
I get this error on 2.4.0 version
<img width="1913" alt="Снимок экрана 2019-10-14 в 16 43 41" src="https://user-images.githubusercontent.com/5311779/66757375-baf24e80-eea4-11e9-8a9c-e0afa0090ff6.png">

[2019-10-14 14:05] kruteev opened #48 "I get this error on 2.4.0 version"
I get this error on 2.4.0 version
<img width="1913" alt="Снимок экрана 2019-10-14 в 16 43 41" src="https://user-images.githubusercontent.com/5311779/66757375-baf24e80-eea4-11e9-8a9c-e0afa0090ff6.png">

_Originally posted by @kruteev in https://github.com/officert/vue-slideout-panel/issues/25#issuecomment-541697984_

[2019-10-14 14:08] seanzi86 commented on #47
Thank you for the prompt fix :)

[2019-10-14 17:00] kaleidotech opened #49 "Close callback?"
How to listen on a close? Basically I'd need an action done after the slideout is closed.

[2019-10-14 20:46] officert commented on #25
@kruteev are you sure that's caused by this component?

[2019-10-14 20:51] kruteev commented on #48
absolutely!
panel opened - class good
open sweetalert toast - class good
close panel (sweetalert toast opened) - fail (class panel in <body> left but 2 classes stuck together)

[2019-10-15 13:53] kruteev opened #50 "When opening multiple panels backdrop does not move higher"
When opening multiple panels backdrop does not move higher.
As a result, the panel is superimposed on the panel.
<img width="1913" alt="Снимок экрана 2019-10-15 в 16 53 37" src="https://user-images.githubusercontent.com/5311779/66837843-5b5f7600-ef6c-11e9-93d1-d837f411bf8f.png">

[2019-10-16 18:32] #40 closed

[2019-10-16 18:33] #14 closed

[2019-10-16 18:34] officert commented on #4
closing for now, submit a PR if you have a solution 👍

[2019-10-16 18:34] #4 closed

[2019-10-16 18:34] #5 closed

[2019-10-16 18:35] #19 closed

[2019-10-16 18:35] #41 closed

[2019-10-16 19:16] kruteev commented on #50
you can just change the z-index background 1 higher and lower it when closing

[2019-10-19 21:32] korpow commented on #50
I just ran into this issue myself while trying to get fancy with a narrow panel opening on top of an already opened wider one.

@kruteev yeah that seems to be the case from messing around with the styles, nice catch.

[2019-10-21 12:08] erkanatesli opened #52 "Continue with Vue Pages while modal is open"
Could there be made a property that we still can make use of the Vue Application while modal is open? Now when i click outside the modal the Modal closes.  It should be both open and clickable.

[2019-12-01 23:51] officert commented on #49
`$showPanel()` returns a `PanelInstance` object which has a `promise` property:

[code]

https://vue2-slideout-panel.wrkflows.io/en/articles/1008

[2019-12-01 23:51] #49 closed

[2019-12-01 23:53] officert commented on #48
@kruteev fixed in 2.5.0

[2019-12-01 23:53] #48 closed

[2019-12-16 21:13] jclausen opened #53 "slideout-panel is not registered error with > 2.1.0"
I'm not sure what changed between v2.1 and v2.2, but any version above 2.1 results in the "not registered" error for `slideout-panel`.  I have installed every version between 2.1 and 2.5 and all above 2.1 exhibit the same behavior.

The registration and usage is fairly basic ( full app.js file below for dependency tree ):

[code]

Usage in-app is global ( App.vue ) below:

[code]

I've rolled back

[2019-12-16 21:15] jclausen commented on #53
Apologies for the code dump. I wanted to give you the full context, in case you spotted anything. :)

[2019-12-17 17:47] officert commented on #53
I think you're missing:

[code]

[2019-12-18 11:32] fdaprano opened #54 "Cannot read property 'disableEscClick' of undefined"
I'm using vue-slideout-panel ^2.5 with Nuxt.js, imported as plugin and placed on the default layout:
`<slideout-panel></slideout-panel>`

When I press the ESC key and the panel is not visible I get the following error:

Uncaught TypeError: Cannot read property 'disableEscClick' of undefined
    at VueComponent.onEscapeKeypress (index.vue?./node_modules/babel-loader/lib!./node_modules/vue-loader/li

[2019-12-18 14:59] jclausen commented on #53
Hmm.. No, that's in there. Sorry. My code sample must have copied some debug code.

[code]

[2019-12-18 18:47] officert commented on #54
@fdaprano thanks! yea looks like the method just needs a check. But curious what you're doing when you get this error? Do you see a panel on the screen? Are you clicking multiple times?

[2019-12-19 10:37] fdaprano commented on #54
@officert thanks for your answer. This bug consistently reproduces when I press ESC key and the panel is hidden.
E.g.:
1. application starts, panel is hidden, press ESC, the error pops.
2. application starts, call $showPanel, panel shows, press ESC, panel hides, press ESC again, the error pops.

My specific condition is that I am using Nuxt.js and I placed the panel component on the default layout

[2019-12-20 20:14] officert commented on #53
You have this:

[code]

[2019-12-20 20:22] officert commented on #54
@fdaprano can you try v2.4.0? Should be fixed, I added to this line:

https://github.com/officert/vue-slideout-panel/blob/master/src/components/SlideoutPanel/index.vue#L194

[2019-12-22 22:54] boriskogan81 opened #55 "Can't install properly"
I install the component:
[code]

and import it in my main.js file:

[code]

but when I try to npm run serve, I get this error:

[code]

I'm using Vue 2.6.10 with Vue CLI 3.

What should I do here?

[2019-12-23 04:40] lbnsina opened #56 "Please check the main of package.json"
Hello.

Thank you for your module.
It is really helpful!

But, jsut recently I got an Error that dependency has not found.
[code]

pacakge.json seems cause that issue I think.
After checking your commits, I found filename has changed like below.
(title : update docs / url : https://github.com/officert/vue-slideout-panel/commit/3f6754502e87e39a5c41649cc239a372225df2b0#diff-b9cfc7f2cdf78a7f4b91a753d

[2019-12-23 11:08] nimosunbit commented on #55
Have the same issue...

[2019-12-23 20:07] boriskogan81 commented on #55
Fixed via this hack: in my main file, I import from the /dist directory of the package, like this:

[code]

[2019-12-23 20:07] #55 closed

[2019-12-24 18:09] boriskogan81 opened #57 "Getting the state of a component inside the slideout panel"
I have an overarching Home component.

Inside it, I have a filter component inside the panel, like this:

[code]

Inside the community search filter, I've got a button which has an onclick method which emits the search filter's state, like this:

[code]

In my Home component, I'm trying to catch this "searching" event, but not seeing anything:

[code]

How should I be catching this event?

[2019-12-28 13:44] #54 closed

[2019-12-28 13:47] officert commented on #56
Thanks @lbnsina just updated the package.json and release v2.7.0

[2019-12-28 13:47] #56 closed

[2019-12-28 13:47] officert commented on #53
Closing for now, re-open if you still need help.

[2019-12-28 13:47] #53 closed

[2019-12-28 13:55] officert commented on #52
@erkanatesli added in v2.8.0 : https://github.com/officert/vue-slideout-panel/releases/tag/2.8.0

[2019-12-28 13:55] #52 closed

[2019-12-28 13:56] officert commented on #52
Take a look at the updated docs here: https://officert.github.io/vue-slideout-panel/#/options

`removeBg` is the option you want.

[2019-12-28 13:56] officert commented on #50
This is fixed in the latest versions.

[2019-12-28 13:56] #50 closed

[2019-12-28 14:01] officert commented on #57
First I would change your `showPanel()` method to this, since you don't need to hold onto the panel instance:

[code]

and then inside your `<community-search-filter />` component:

[code]

[2019-12-28 14:02] officert commented on #57
'closePanel' is currently the only event that Vue-Slideout understands. It triggers the panel component to close and passes the result back to your outer component.

[2020-01-07 17:12] fdaprano commented on #54
Thanks @officert, I checked out v2.8.0 and I confirm it's fixed.

[2020-03-26 16:21] cammeronm opened #58 "Repeated slide-in animation in Firefox"
Hi,
I have experienced weird behaviour when I open slideout panel in Firefox (v74).
In some cases slideout panel disappears immidiatelly after openning and slides-in again.

You can see it in picture bellow:

![slideout-panel-issue](https://user-images.githubusercontent.com/2611156/77669768-93d89680-6f85-11ea-8263-256fa238ccdb.gif)

Any idea what could it be?

Thanks for investigating

[2020-03-31 14:42] Rodigee opened #59 "Panel jiggles slighly after open"
![open panel jiggle](https://user-images.githubusercontent.com/33212609/78039488-cabafd80-7333-11ea-825e-5148c7c71cbe.gif)

There's a slight continuation of the opening of the panel (or jiggle) after opening the panel initially.

This is happening in Chrome and Edge on a Mac.

[2020-04-03 19:09] amchconsult opened #60 "Browser CDN"
can you give an example of use on CDN as global component.

thank you

[2020-04-07 14:00] officert commented on #59
@Rodigee I've noticed this too, but I have no idea what's causing it. Here's the CSS for the animation:

https://github.com/officert/vue-slideout-panel/blob/master/src/components/SlideoutPanel/styles.less#L63

[2020-04-17 18:41] kovinet opened #61 "Unable to use with Vue-Cli project"
If I understand this correctly - to put contents to Slide Panel you need a Vue Component, which you don't put anywhere in <template> but only inside `component` option of `$showPanel`

When using Vue App created with Vue CLI I get build error

Can't I just put plain html / text to be opened inside panel?

If I do put `<panel-text-component></panel-text-component>` to my template as well, then insi

[2020-04-18 07:04] kovinet commented on #61
The problem was, I was registering component for use inside slideout as local component in App.vue, which in mounted as entry component when you setup new project with vue-cli, like this:

`new Vue({
  render: h => h(App)
}).$mount('#app')`

With this approach providing identifier of the component doesn't work, instead I had to register component globally in main.js as following:

`Vue.component("

[2020-05-09 12:07] phillipstemann opened #62 "Scrolls to the bottom on open"
Hi!

Thanks a lot for the library, it's awesome!
I have one issue though. When I have a long list of elements which I can open in the slideout. It opens the slideout and scrolls the background to the bottom. Do you have any idea what it might be? I've tried tweaking the CSS without luck.

I'm using it with NuxtJS, and is registering as a plugin, like this:
[code]

[2020-06-05 14:34] #57 closed

[2020-06-05 14:36] officert commented on #62
Sounds like something in your component. You can see a long panel in this example and it doesn't scroll to the bottom : https://officert.github.io/vue-slideout-panel/#/examples/open-on

Maybe paste your component here for us to checkout?

[2020-06-08 11:58] phillipstemann commented on #62
Hi, yea you're right, I fixed it, it was a CSS issue. Thank you.

[2020-06-08 11:58] #62 closed

[2020-07-12 09:14] ksidibe opened #63 "Provide a Slot Instead of Requiring a Globally Registered Component"
First nice work.
But, it could be even better if:
1. **This is implemented as a component rather than a plugin.**
2. **You provide a slot and let the user define the content of the panel instead of requiring a globally registered component.**
Thank you.

[2020-07-13 11:29] robbersite commented on #59
这个问题，你解决了么？我也想解决。
Have you solved this problem? I also want to solve it. @Rodigee

[2020-07-13 11:55] robbersite commented on #59
![微信图片_20200713195329](https://user-images.githubusercontent.com/23724538/87301675-9960e900-c542-11ea-982f-1d04a8a5da97.png)
==
I probably know it's here that affects the problem, but I don't know how to change it.
我大概知道是这里影响了问题，但是我不知道怎么改。

[2020-07-31 09:11] juanvillegas commented on #63
I second this. Plus, as it is now, the inner component is always aware of the SlideOut component, which creates a very troubling dependency. The subcomponent shouldn't need to be aware of whether it was included in a slide out or a modal or just inline in the page.
Example: if my subcomponent wants to communicate upwards, the only way to do it is through the closePanel event.

[2020-08-07 08:32] jessyca27 opened #64 "How close All panels opened ?"
Hello,
i've searched on repository git and internet but i didn't find the answer. So,
I opened multiple panel but i would like close ALL panels. How do this ?

Thanks for your answer !

[2020-08-07 08:39] jessyca27 commented on #64
import { vueSlideoutPanelService } from 'vue2-slideout-panel';

closeAllPanels() {
    vueSlideoutPanelService.hideAllPanels();
  }

[2020-08-07 08:39] #64 closed

[2020-08-18 17:50] jesse-zm opened #65 "SSR Support Request"
I'm using Gridsome for a project and noticed that this plugin does not have support for SSR builds. The Gridsome [documentation](https://gridsome.org/docs/assets-scripts/#without-ssr-support) does provide some information about working around plugins that do not support SSR, but unfortunately I tried implementing their method and still could not get this plugin to work. Would like to know if there

[2020-08-29 02:53] ttjordan81 commented on #59
Thanks for the package, and I saw the same thing, then saw this there was an issues already created.

After trying different CSS properties, finally came to one that seems to work. Looks a bit smoother...

.slideout-panel .slideout-wrapper .slideout {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-duration: 0.8s;
}

[2020-09-08 13:13] officert commented on #59
Fixed in 2.13.0 thanks to @ttjordan81 👍

[2020-09-08 13:13] #59 closed

[2020-09-08 13:14] officert commented on #58
@cammeronm can you re-try with v2.13.0? A fix was put in for a separate issue dealing with the animation timing, wondering if it might also fix this issue.

[2020-09-25 01:04] husstahn commented on #22
This is an issue on Buefy too. Dropdown / autocomplete does not close on blur. This really needs to be addressed if anyone intends to use slideout for forms.

[2020-11-04 19:14] clintnetwork opened #67 "Hiding animation of bottom mode"
Hi,

I use the `openOn` bottom mode and the hide process does not have the same animation, the hide effect is a simple fading instead of a sliding effect.

I use this to close the panel:
[code]

Thank you

[2020-11-29 22:40] clintnetwork commented on #67
cc @officert

[2021-03-11 12:10] seanhakbb opened #68 "Component gets added twice"
This might not be related to the component at all,
but my loaded panel component is loaded twice (my console.log in mounted triggers twice), I only get one panel rendered on the site though.

[2021-03-11 12:37] seanhakbb commented on #68
I had a component with <slideout-panel></slideout-panel> that was being reused. I moved it outside to global scope so it only gets added once!

[2021-03-11 12:37] seanhakbb commented on #68
I had a component with that was being reused. I moved it outside to global scope so it only gets added once!

[2021-03-11 12:37] #68 closed

[2021-05-03 20:01] officert commented on #63
this `$showPanel` method's `component` param can either be a String or an Object. The String is assumed to be a globally registered component, the object an inline component:

[code]

[2021-05-03 20:05] officert commented on #63
@juanvillegas You can always use a wrapper component as the one you pass to `$showPanel`. This wrapper component can deal with translating from your real component to the SlideOut component (via `closePanel`). This allows your "real" component to stay cleaner and not deal with knowing anything about how it's used (via SlideOut or inline etc..)

It's not ideal but I use it this way to deal with the

[2021-06-16 12:44] rlam3 commented on #67
@clintnetwork were you able to find a workaround solution?

[2021-06-24 14:34] #63 closed

[2021-06-24 14:44] officert commented on #60
https://jsfiddle.net/2nq1abtx/14/

[2021-06-24 14:44] #60 closed

[2021-06-24 14:47] amchconsult commented on #60
thank you very much, library is great

[2021-06-24 16:38] amchconsult commented on #60
one more question:

Can I use ref="" or id instead of component?

thank you

[2021-07-01 20:07] officert commented on #67
@clintnetwork and @rlam3 latest versions fixes this issue

[2021-07-01 20:07] #67 closed

[2021-07-01 20:38] imclint21 commented on #67
Wow perfect

[2021-08-12 05:58] snimavat opened #69 "Upgrade to Vue 3"
Nice work, exactly how we would like

Any plan to upgrade to latest vue js 3?

[2021-08-24 12:09] ajerez commented on #69
+1

[2022-01-07 17:21] giantpanda814 commented on #69
how dose it work on 'your-component-name'

[2022-02-20 23:37] emuter commented on #69
this is an awesome work. still learning vue and scratching vue3 here.
need this updated to vue3 use. pretty please.  :-)

[2022-06-06 15:53] kailamjeter commented on #69
+1 - Any update on this?

[2022-06-23 11:50] mkamranmalik72 commented on #69
+100 - Any update?